//output: ../../../../../imports/ui/components/partyDetail/partyDetail.html
p The party your selected is 
form
  |Party Name:
  input(type="text" ng-model="partyDetail.party.name")
  |Description:
  input(type="text" ng-model="partyDetail.party.description")
  |Public Party?
  input(type='checkbox' ng-model='partyDetail.party.public')
  button(ng-click='partyDetail.save()') Save

button(ui-sref='parties') Back

party-uninvited(party='partyDetail.party')
