
<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="chat in chats.data|orderBy:'-lastMessage.timestamp'" type="item-text-wrap" class="item-chat item-remove-animate item-avatar item-icon-right"><img ng-src="{{chat.picture}}"/>
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastMessage.text}}</p><span class="last-message-timestamp">{{chat.lastMessage.timestamp | calendar}}</span><i class="ion ion-chevron-right icon-accesory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>