//output: ../../../../../imports/ui/components/partiesList/partiesList.html
party-add
ul
  li(ng-repeat="party in partiesList.parties")
    a(ui-sref='partyDetail({partyId:party._id})') {{party.name}}
    p {{party.description}}
    party-remove(party='party')
